.swimlane {
  overflow: hidden;

  ul {
    display: block;
    transform: translate3d(0, 0, 0);
    transition: all 500ms linear;
    position: relative;
    margin: 0;
    padding: 0;
  }
}

li.item {
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  display: inline-block;

  & > div {
    border: 5px solid red;
    padding: 10px;
    margin: 10px;
  }
}

.page {
  display: inline-block;
  margin: 0 5px;
}

.button-wrapper {
  display: block;
}
