.wrapper {
  position: relative;
}

.swimlane {
  overflow: hidden;

  ul {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
  }
}

li.item {
  box-sizing: border-box;
  display: inline-block;
}

.buttonWrapper {
  display: block;
}
